@page "/"

<PageTitle>Home</PageTitle>

<h3>Hello, world!</h3>

<div class="card">
    <div>
        <h1>CPSC1517-1232 Project - Mar 2024</h1>
        <h2><strong>Author:</strong> Manuel Alva</h2>
        <h2><strong>Section:</strong> OE01</h2>
        <h2><strong>Instructor:</strong> Nathan Humphrey</h2>
        <h2><strong>Known Bugs:</strong></h2>
        <ul>
            <li>None so far but please swap connection string from STS2 to STS as I am using sql validation</li>
        </ul>
    </div>
</div>

<style>
    h3 {
     background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(68, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
     color: white;
     padding: 1rem;

}
ul li{
    font-size: 1.5rem;
}

    .card {
        margin-top: 1rem;
        width: 100%;
        padding: 2rem;
    }
</style>

